.container{
    width:600px;
    height:600px;
    background-color: yellow;
    position: relative;
}
.box1{
    width:100px;
    height:100px;
    background-color: red;
    position: relative;
}
.box2{
    width:100px;
    height: 100px;
    background-color: green;
    position: absolute;
    left:0;
    bottom:0;
    display: none;
}
